@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

div,
nav {
    font-family: 'BMJUA';
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-collapse {
    transition: 500ms;
}

.offcanvas.show {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 42vw;
}

#image-upload-wrap {
    z-index: 1;
    max-width: 100%;
}

#image-upload-wrap {
    height: 40vw;
    animation: fadein 3s;
}

#image-input-label {
    object-fit: contain;
    border-radius: 10px;
    border: dashed 1.5px #35465d;
}

#image-input-label::after {
    visibility: hidden;
}

#input-svg {
    height: 15vw;
    width: 15vw;
}

#resultloding {
    height:40vw;
    display: none;
}

#resultcolor {
    height:40vw;
    display: none;
    animation: fadein 3s;
}

#checkwrap {
    height: 15vw;
}

#analysis {
    font-size:5vw;
}

.accordion-collapse{
    transition: 500ms;
}

.carousel-item{
    transition: 500ms;
}

.accordion-body.text-center{
    font-size: 0.7rem;
}

/* ---------------------로딩바 표현 부분----------------------- */
 .mosaic-loader {
	 --cell-size: 25%;
	 --cell-spacing: 1px;
	 --border-width: 1px;
	 --cells: 4;
	 --total-size: calc(var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing)));
	 display: flex;
	 flex-wrap: wrap;
	 width: var(--total-size);
	 height: var(--total-size);
}
 .mosaic-loader > .cell {
	 --cell-color: white;
	 flex: 0 0 var(--cell-size);
	 margin: 0px;
	 background-color: transparent;
	 box-sizing: border-box;
	 animation: 1.5s ripple ease infinite;
}
 .mosaic-loader > .cell.d-1 {
	 animation-delay: 100ms;
}
 .mosaic-loader > .cell.d-2 {
	 animation-delay: 200ms;
}
 .mosaic-loader > .cell.d-3 {
	 animation-delay: 300ms;
}
 .mosaic-loader > .cell.d-4 {
	 animation-delay: 400ms;
}
 .mosaic-loader > .cell.d-5 {
	 animation-delay: 500ms;
}
 .mosaic-loader > .cell.d-6 {
	 animation-delay: 600ms;
}
 .mosaic-loader > .cell:nth-child(1) {
	 --cell-color: #d4aee0;
}
 .mosaic-loader > .cell:nth-child(2) {
	 --cell-color: #8975b4;
}
 .mosaic-loader > .cell:nth-child(3) {
	 --cell-color: #64518a;
}
 .mosaic-loader > .cell:nth-child(4) {
	 --cell-color: #565190;
}
 .mosaic-loader > .cell:nth-child(5) {
	 --cell-color: #44abac;
}
 .mosaic-loader > .cell:nth-child(6) {
	 --cell-color: #2ca7d8;
}
 .mosaic-loader > .cell:nth-child(7) {
	 --cell-color: #1482ce;
}
 .mosaic-loader > .cell:nth-child(8) {
	 --cell-color: #05597c;
}
 .mosaic-loader > .cell:nth-child(9) {
	 --cell-color: #b2dd57;
}
 .mosaic-loader > .cell:nth-child(10) {
	 --cell-color: #57c443;
}
 .mosaic-loader > .cell:nth-child(11) {
	 --cell-color: #05b853;
}
 .mosaic-loader > .cell:nth-child(12) {
	 --cell-color: #19962e;
}
 .mosaic-loader > .cell:nth-child(13) {
	 --cell-color: #fdc82e;
}
 .mosaic-loader > .cell:nth-child(14) {
	 --cell-color: #fd9c2e;
}
 .mosaic-loader > .cell:nth-child(15) {
	 --cell-color: #d5385a;
}
 .mosaic-loader > .cell:nth-child(16) {
	 --cell-color: #911750;
}
 @keyframes ripple {
	 0% {
		 background-color: transparent;
	}
	 30% {
		 background-color: var(--cell-color);
	}
	 60% {
		 background-color: transparent;
	}
	 100% {
		 background-color: transparent;
	}
}


/*-------------------------------애니메이션속성------------------------------------------*/
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/*-----------------------------------------파티클---------------------------------*/
.particle {
	 position: absolute;
	 border-radius: 50%;
}
 @keyframes particle-animation-1 {
	 100% {
		 transform: translate3d(87vw, 54vh, 40px);
	}
}
 .particle:nth-child(1) {
	 animation: particle-animation-1 60s infinite;
	 opacity: 0.68;
	 height: 9px;
	 width: 9px;
	 animation-delay: -0.2s;
	 transform: translate3d(58vw, 18vh, 55px);
	 background: #d3d926;
}
 @keyframes particle-animation-2 {
	 100% {
		 transform: translate3d(61vw, 52vh, 93px);
	}
}
 .particle:nth-child(2) {
	 animation: particle-animation-2 60s infinite;
	 opacity: 0.44;
	 height: 7px;
	 width: 7px;
	 animation-delay: -0.4s;
	 transform: translate3d(25vw, 80vh, 4px);
	 background: #26d0d9;
}
 @keyframes particle-animation-3 {
	 100% {
		 transform: translate3d(41vw, 63vh, 24px);
	}
}
 .particle:nth-child(3) {
	 animation: particle-animation-3 60s infinite;
	 opacity: 0.98;
	 height: 9px;
	 width: 9px;
	 animation-delay: -0.6s;
	 transform: translate3d(44vw, 60vh, 3px);
	 background: #d926a3;
}
 @keyframes particle-animation-4 {
	 100% {
		 transform: translate3d(33vw, 7vh, 99px);
	}
}
 .particle:nth-child(4) {
	 animation: particle-animation-4 60s infinite;
	 opacity: 0.03;
	 height: 9px;
	 width: 9px;
	 animation-delay: -0.8s;
	 transform: translate3d(40vw, 25vh, 61px);
	 background: #26d92c;
}
 @keyframes particle-animation-5 {
	 100% {
		 transform: translate3d(9vw, 42vh, 44px);
	}
}
 .particle:nth-child(5) {
	 animation: particle-animation-5 60s infinite;
	 opacity: 1;
	 height: 10px;
	 width: 10px;
	 animation-delay: -1s;
	 transform: translate3d(10vw, 64vh, 97px);
	 background: #9426d9;
}
 @keyframes particle-animation-6 {
	 100% {
		 transform: translate3d(54vw, 47vh, 27px);
	}
}
 .particle:nth-child(6) {
	 animation: particle-animation-6 60s infinite;
	 opacity: 0.59;
	 height: 10px;
	 width: 10px;
	 animation-delay: -1.2s;
	 transform: translate3d(42vw, 56vh, 84px);
	 background: #26d9d6;
}
 @keyframes particle-animation-7 {
	 100% {
		 transform: translate3d(13vw, 66vh, 72px);
	}
}
 .particle:nth-child(7) {
	 animation: particle-animation-7 60s infinite;
	 opacity: 0.61;
	 height: 9px;
	 width: 9px;
	 animation-delay: -1.4s;
	 transform: translate3d(48vw, 72vh, 62px);
	 background: #47d926;
}
 @keyframes particle-animation-8 {
	 100% {
		 transform: translate3d(27vw, 40vh, 8px);
	}
}
 .particle:nth-child(8) {
	 animation: particle-animation-8 60s infinite;
	 opacity: 0.04;
	 height: 6px;
	 width: 6px;
	 animation-delay: -1.6s;
	 transform: translate3d(20vw, 10vh, 93px);
	 background: #26d9a6;
}
 @keyframes particle-animation-9 {
	 100% {
		 transform: translate3d(90vw, 36vh, 50px);
	}
}
 .particle:nth-child(9) {
	 animation: particle-animation-9 60s infinite;
	 opacity: 0.97;
	 height: 9px;
	 width: 9px;
	 animation-delay: -1.8s;
	 transform: translate3d(68vw, 78vh, 99px);
	 background: #d9262f;
}
 @keyframes particle-animation-10 {
	 100% {
		 transform: translate3d(36vw, 17vh, 58px);
	}
}
 .particle:nth-child(10) {
	 animation: particle-animation-10 60s infinite;
	 opacity: 0.97;
	 height: 10px;
	 width: 10px;
	 animation-delay: -2s;
	 transform: translate3d(89vw, 63vh, 90px);
	 background: #38d926;
}
 @keyframes particle-animation-11 {
	 100% {
		 transform: translate3d(21vw, 36vh, 46px);
	}
}
 .particle:nth-child(11) {
	 animation: particle-animation-11 60s infinite;
	 opacity: 0.63;
	 height: 9px;
	 width: 9px;
	 animation-delay: -2.2s;
	 transform: translate3d(48vw, 65vh, 10px);
	 background: #d92691;
}
 @keyframes particle-animation-12 {
	 100% {
		 transform: translate3d(48vw, 18vh, 43px);
	}
}
 .particle:nth-child(12) {
	 animation: particle-animation-12 60s infinite;
	 opacity: 0.98;
	 height: 7px;
	 width: 7px;
	 animation-delay: -2.4s;
	 transform: translate3d(80vw, 76vh, 9px);
	 background: #8826d9;
}
 @keyframes particle-animation-13 {
	 100% {
		 transform: translate3d(53vw, 44vh, 28px);
	}
}
 .particle:nth-child(13) {
	 animation: particle-animation-13 60s infinite;
	 opacity: 0.46;
	 height: 10px;
	 width: 10px;
	 animation-delay: -2.6s;
	 transform: translate3d(86vw, 19vh, 68px);
	 background: #26d965;
}
 @keyframes particle-animation-14 {
	 100% {
		 transform: translate3d(6vw, 79vh, 81px);
	}
}
 .particle:nth-child(14) {
	 animation: particle-animation-14 60s infinite;
	 opacity: 0.63;
	 height: 8px;
	 width: 8px;
	 animation-delay: -2.8s;
	 transform: translate3d(7vw, 5vh, 88px);
	 background: #d9269a;
}
 @keyframes particle-animation-15 {
	 100% {
		 transform: translate3d(2vw, 86vh, 16px);
	}
}
 .particle:nth-child(15) {
	 animation: particle-animation-15 60s infinite;
	 opacity: 0.02;
	 height: 7px;
	 width: 7px;
	 animation-delay: -3s;
	 transform: translate3d(4vw, 12vh, 68px);
	 background: #b526d9;
}
 @keyframes particle-animation-16 {
	 100% {
		 transform: translate3d(17vw, 3vh, 29px);
	}
}
 .particle:nth-child(16) {
	 animation: particle-animation-16 60s infinite;
	 opacity: 0.71;
	 height: 9px;
	 width: 9px;
	 animation-delay: -3.2s;
	 transform: translate3d(13vw, 53vh, 74px);
	 background: #2635d9;
}
 @keyframes particle-animation-17 {
	 100% {
		 transform: translate3d(61vw, 64vh, 70px);
	}
}
 .particle:nth-child(17) {
	 animation: particle-animation-17 60s infinite;
	 opacity: 0.42;
	 height: 6px;
	 width: 6px;
	 animation-delay: -3.4s;
	 transform: translate3d(69vw, 20vh, 63px);
	 background: #d9267d;
}
 @keyframes particle-animation-18 {
	 100% {
		 transform: translate3d(63vw, 80vh, 21px);
	}
}
 .particle:nth-child(18) {
	 animation: particle-animation-18 60s infinite;
	 opacity: 0.33;
	 height: 7px;
	 width: 7px;
	 animation-delay: -3.6s;
	 transform: translate3d(27vw, 59vh, 96px);
	 background: #d926a0;
}
 @keyframes particle-animation-19 {
	 100% {
		 transform: translate3d(9vw, 59vh, 42px);
	}
}
 .particle:nth-child(19) {
	 animation: particle-animation-19 60s infinite;
	 opacity: 0.77;
	 height: 10px;
	 width: 10px;
	 animation-delay: -3.8s;
	 transform: translate3d(64vw, 44vh, 2px);
	 background: #26d935;
}
 @keyframes particle-animation-20 {
	 100% {
		 transform: translate3d(32vw, 80vh, 18px);
	}
}
 .particle:nth-child(20) {
	 animation: particle-animation-20 60s infinite;
	 opacity: 0.2;
	 height: 6px;
	 width: 6px;
	 animation-delay: -4s;
	 transform: translate3d(63vw, 79vh, 55px);
	 background: #2674d9;
}
 @keyframes particle-animation-21 {
	 100% {
		 transform: translate3d(87vw, 17vh, 81px);
	}
}
 .particle:nth-child(21) {
	 animation: particle-animation-21 60s infinite;
	 opacity: 0.73;
	 height: 6px;
	 width: 6px;
	 animation-delay: -4.2s;
	 transform: translate3d(46vw, 82vh, 20px);
	 background: #62d926;
}
 @keyframes particle-animation-22 {
	 100% {
		 transform: translate3d(32vw, 40vh, 65px);
	}
}
 .particle:nth-child(22) {
	 animation: particle-animation-22 60s infinite;
	 opacity: 0.2;
	 height: 7px;
	 width: 7px;
	 animation-delay: -4.4s;
	 transform: translate3d(28vw, 49vh, 74px);
	 background: #2674d9;
}
 @keyframes particle-animation-23 {
	 100% {
		 transform: translate3d(11vw, 25vh, 1px);
	}
}
 .particle:nth-child(23) {
	 animation: particle-animation-23 60s infinite;
	 opacity: 0.51;
	 height: 9px;
	 width: 9px;
	 animation-delay: -4.6s;
	 transform: translate3d(27vw, 7vh, 16px);
	 background: #8526d9;
}
 @keyframes particle-animation-24 {
	 100% {
		 transform: translate3d(63vw, 35vh, 40px);
	}
}
 .particle:nth-child(24) {
	 animation: particle-animation-24 60s infinite;
	 opacity: 0.38;
	 height: 9px;
	 width: 9px;
	 animation-delay: -4.8s;
	 transform: translate3d(19vw, 79vh, 18px);
	 background: #d9c726;
}
 @keyframes particle-animation-25 {
	 100% {
		 transform: translate3d(27vw, 25vh, 7px);
	}
}
 .particle:nth-child(25) {
	 animation: particle-animation-25 60s infinite;
	 opacity: 0.82;
	 height: 8px;
	 width: 8px;
	 animation-delay: -5s;
	 transform: translate3d(84vw, 60vh, 34px);
	 background: #af26d9;
}
 @keyframes particle-animation-26 {
	 100% {
		 transform: translate3d(60vw, 44vh, 58px);
	}
}
 .particle:nth-child(26) {
	 animation: particle-animation-26 60s infinite;
	 opacity: 0.11;
	 height: 8px;
	 width: 8px;
	 animation-delay: -5.2s;
	 transform: translate3d(15vw, 47vh, 42px);
	 background: #62d926;
}
 @keyframes particle-animation-27 {
	 100% {
		 transform: translate3d(3vw, 37vh, 35px);
	}
}
 .particle:nth-child(27) {
	 animation: particle-animation-27 60s infinite;
	 opacity: 0.59;
	 height: 10px;
	 width: 10px;
	 animation-delay: -5.4s;
	 transform: translate3d(17vw, 15vh, 13px);
	 background: #26d9b8;
}
 @keyframes particle-animation-28 {
	 100% {
		 transform: translate3d(67vw, 26vh, 51px);
	}
}
 .particle:nth-child(28) {
	 animation: particle-animation-28 60s infinite;
	 opacity: 0.77;
	 height: 9px;
	 width: 9px;
	 animation-delay: -5.6s;
	 transform: translate3d(38vw, 36vh, 75px);
	 background: #4ad926;
}
 @keyframes particle-animation-29 {
	 100% {
		 transform: translate3d(66vw, 85vh, 72px);
	}
}
 .particle:nth-child(29) {
	 animation: particle-animation-29 60s infinite;
	 opacity: 0.76;
	 height: 10px;
	 width: 10px;
	 animation-delay: -5.8s;
	 transform: translate3d(28vw, 44vh, 17px);
	 background: #2635d9;
}
 @keyframes particle-animation-30 {
	 100% {
		 transform: translate3d(84vw, 79vh, 47px);
	}
}
 .particle:nth-child(30) {
	 animation: particle-animation-30 60s infinite;
	 opacity: 0.28;
	 height: 9px;
	 width: 9px;
	 animation-delay: -6s;
	 transform: translate3d(76vw, 54vh, 87px);
	 background: #d9ca26;
}
 