<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>옷깔맞춤</title>
        <meta charset="utf-8" />
        <meta
            name="google-site-verification"
            content="lQ7lUCK_-27QbOJdX_Op5O8wneVVVU5veaTwhJIAOIY"
        />
        <meta name="naver-site-verification" content="9d8d4499acc2eaed881a264467f793996d49cd08" />
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta
            name="description"
            content="오늘입을 옷한가지를 정하고 나머지 옷의 색상을 추천받아보세요. (੭•̀ᴗ•̀)੭"
        />
        <meta property="og:title" content="옷컬러조합" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://coloravg.run.goorm.io/" />
        <meta property="og:image" content="https://coloravg.run.goorm.io/static/main.png" />
        <meta
            property="og:description"
            content="바쁜출근길 더 이상 옷고민으로 시간 낭비 하지말아요. (･`◡´･)ゝ"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="title" content="옷깔맞춤" />
        <meta name="subject" content="내옷을 통한 완벽한 색상추천" />
        <meta
            name="keywords"
            content="옷깔맞춤, 옷색상, 코디추천, 색상조합, 컬러조합, 옷 색상표, 색상매치, 컬러, 코디, 패션, 상하의 매치"
        />
        <meta name="author" content="오경환" />
        <link rel="canonical" href="https://coloravg.run.goorm.io/" />
        <link rel="shortcut icon" href="https://coloravg.run.goorm.io/static/favicon.ico" />
        <link rel="icon" href="https://coloravg.run.goorm.io/static/favicon.ico" />
        <link href="{{ url_for('static', path='/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', path='/home.css') }}" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="{{ url_for('static', path='/js/bootstrap.min.js') }}"></script>
        <script>
            function appendrecommd(resultrecomend, pickcolor) {
                let html = '<div class="accordion" id="accordionExample">';
                var i = 0;
                for (style in resultrecomend.extractioncolor) {
                    var carouselcontent = '';
                    let carouselactive = 'active';
                    for (color in resultrecomend.extractioncolor[style]) {
                        carouselcontent += `
                            <div class="carousel-item ${carouselactive}">
                                <div class="d-block w-100 text-center" style="background-color:#${resultrecomend.extractioncolor[style][color]}; height:20vw;">
                                    <h5>${color}</h5>
                                </div>
                            </div>
                        `;
                        carouselactive = '';
                    }
                    i++;
                    html += `
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading${style}">
                                <button class="accordion-button collapsed text-center fs-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapse${style}" aria-expanded="false" aria-controls="collapse${style}">
                                    ${style}
                                </button>
                            </h2>
                            <div id="collapse${style}" class="accordion-collapse collapse" aria-labelledby="heading${style}" data-bs-parent="#accordionExample">
                                <div class="accordion-body text-center">
                                    <strong>${
                                        resultrecomend.explanationstyle[style + 'explanation']
                                    }</strong><br>
                                </div>
                                <div>
                                    <div class="d-block w-100" style="background-color:#${pickcolor}; height:20vw;"></div>
                                </div>
                                <div id="carousel${style}" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        ${carouselcontent}
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel${style}" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carousel${style}" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    `;
                }
                html += '</div>';
                html +=
                    "<div class='mt-1 text-center'><button type='button' id='analysis' class='btn btn-danger col fs-4 mx-auto' onclick ='resultcolorsretry();' id='liveToastBtn'>다시해보기</button></div>";
                document.getElementById('analysiscolor').innerHTML = html;
                document.getElementById('resultloding').style.display = 'none';
                document.getElementById('analysiscolor').style.display = 'flex';
            }

            function appendresultcolor(resultcolors) {
                let html = '';
                for (var i in resultcolors) {
                    html +=
                        "<input type='radio' class='btn-check col-4 m-0' name='colors' id='option" +
                        i +
                        "' value='" +
                        resultcolors[i].code +
                        "'><label class='btn lh-1 col-4 btn-outline-dark' for='option" +
                        i +
                        "'style='background-color:#" +
                        resultcolors[i].code +
                        ";'>" +
                        resultcolors[i].name +
                        '</label>';
                }
                html +=
                    "<div id='checkwrap' class='col-12 mx-0 p-0'><button type='button' id='analysis' class='btn btn-success h-100 col-6' onclick ='recommendAPI();'>결과확인<br>하러가기</button><button type='button' id='analysis' class='btn btn-danger h-100 col-6' onclick ='averagecolorsretry();' id='liveToastBtn'>다시확인</button></div>";
                document.getElementById('resultcolor').innerHTML = html;
                document.getElementById('resultloding').style.display = 'none';
                document.getElementById('resultcolor').style.display = 'flex';
            }

            function averagecolorsretry() {
                document.getElementById('resultcolor').style.display = 'none';
                document.getElementById('image-upload-wrap').style.display = 'block';
                var toast = new bootstrap.Toast(liveToast1);
                toast.show();
            }

            function resultcolorsretry() {
                document.getElementById('analysiscolor').style.display = 'none';
                document.getElementById('image-upload-wrap').style.display = 'block';
                var toast = new bootstrap.Toast(liveToast2);
                toast.show();
            }
            
            function errtyperetry() {
                document.getElementById('resultloding').style.display = 'none';
                document.getElementById('image-upload-wrap').style.display = 'block';
            }

            function manualliveToast() {
                var toast = new bootstrap.Toast(liveToast3);
                toast.show();
            }

            const load_image = (e) => {
                const files = e.files;
                const filesArr = Array.prototype.slice.call(files);
                // 여러장의 이미지를 불러올 경우, 배열화

                filesArr.forEach((file) => {
                    const reader = new FileReader();
                    reader.onload = (e) => {
                        const image = new Image();
                        image.className = 'img-item'; // 스타일 적용을 위해
                        image.src = e.target.result;
                        image.onload = (imageEvent) => {
                            // 이미지가 로드가 되면! 리사이즈 함수가 실행되도록 합니다.
                            resize_image(image);
                        };
                    };
                    reader.readAsDataURL(file);
                });
            };

            const resize_image = async (image) => {
                let canvas = document.createElement('canvas'),
                    max_size = 200,
                    // 최대 기준을 1280으로 잡음.
                    width = image.width,
                    height = image.height;

                if (width > height) {
                    // 가로가 길 경우
                    if (width > max_size) {
                        height *= max_size / width;
                        width = max_size;
                    }
                } else {
                    // 세로가 길 경우
                    if (height > max_size) {
                        width *= max_size / height;
                        height = max_size;
                    }
                }
                canvas.width = width;
                canvas.height = height;
                canvas.getContext('2d').drawImage(image, 0, 0, width, height);
                const dataUrl = canvas.toDataURL('image/jpeg');
                const imageValue = dataURLToBlob(dataUrl);
                var file = new File([imageValue], 'name.jpg', { type: 'image/jpeg' });
                const formData = new FormData();
                formData.append('file', file, file.name);
                await fetch('https://coloravg.run.goorm.io/averagecolors', {
                    method: 'POST',
                    body: formData,
                })
                    .then((response) => {
                        if (response.status === 404) {
                        } else if (response.status === 200) {
                            return response.json();
                        } else {
                            alert('올바른 사진을 올려주시기 바랍니다.');
                            throw new Error('Unexpected Http Status Code');
                        }
                    })
                    .then((responseJson) => {
                        appendresultcolor(responseJson);
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            };

            const dataURLToBlob = (dataURL) => {
                const BASE64_MARKER = ';base64,';
                if (dataURL.indexOf(BASE64_MARKER) === -1) {
                    const parts = dataURL.split(',');
                    const contentType = parts[0].split(':')[1];
                    const raw = parts[1];
                    return new Blob([raw], {
                        type: contentType,
                    });
                }
                const parts = dataURL.split(BASE64_MARKER);
                const contentType = parts[0].split(':')[1];
                const raw = window.atob(parts[1]);
                const rawLength = raw.length;
                const uInt8Array = new Uint8Array(rawLength);
                let i = 0;
                while (i < rawLength) {
                    uInt8Array[i] = raw.charCodeAt(i);
                    i++;
                }
                return new Blob([uInt8Array], {
                    type: contentType,
                });
            };

            async function averagecolorsAPI(input) {
                document.getElementById('image-upload-wrap').style.display = 'none';
                document.getElementById('resultloding').innerHTML =
                    "<div class='mosaic-loader p-0'><div class='cell d-0'></div><div class='cell d-1'></div><div class='cell d-2'></div><div class='cell d-3'></div><div class='cell d-1'></div><div class='cell d-2'></div><div class='cell d-3'></div><div class='cell d-4'></div><div class='cell d-2'></div><div class='cell d-3'></div><div class='cell d-4'></div><div class='cell d-5'></div><div class='cell d-3'></div><div class='cell d-4'></div><div class='cell d-5'></div><div class='cell d-6'></div></div>";
                document.getElementById('resultloding').style.display = 'flex';
                if (input.files && input.files[0]) {
                    if(input.files[0].type.indexOf("image")!=-1){
                        var e = load_image(input);
                    }
                    else{
                        alert('올바른 사진을 올려주시기 바랍니다.');
                        errtyperetry();
                    }
                }
            }

            function recommendAPI() {
                document.getElementById('resultcolor').style.display = 'none';
                document.getElementById('resultloding').style.display = 'flex';
                const pickcolor = document.querySelector('input[name="colors"]:checked');
                if (pickcolor) {
                    fetch('https://coloravg.run.goorm.io/recommendstyle/' + pickcolor.value)
                        .then((response) => {
                            if (response.status === 404) {
                                alert('오류발생');
                            } else if (response.status === 200) {
                                return response.json();
                            } else {
                                alert('오류발생');
                                throw new Error('Unexpected Http Status Code');
                            }
                        })
                        .then((responseJson) => {
                            appendrecommd(responseJson, pickcolor.value);
                        })
                        .catch((error) => {
                            console.log(error);
                        });
                } else {
                    alert('색상을 선택하지 않았습니다. 가장유사한 색상을 선택해주세요. ( ﾟДﾟ)ゞ');
                    document.getElementById('resultcolor').style.display = 'flex';
                    document.getElementById('resultloding').style.display = 'none';
                }
            }
        </script>
        <!--API통신-->
        <nav id="navbartop" class="navbar navbar-expand-lg navbar-light bg-transparent px-5">
            <div class="container-fluid px-1">
                <a class="navbar-brand" href="#">옷깔맞춤</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav w-100 mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/OhGyoungHwan/OFMC"
                                >Github</a
                            >
                        </li>
                        <li class="nav-item ms-auto">
                            <a
                                class="nav-link"
                                type="button"
                                id="manualliveToastBtn"
                                onclick="manualliveToast();"
                                ><svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="16"
                                    height="16"
                                    fill="currentColor"
                                    class="bi bi-question-square"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"
                                    />
                                    <path
                                        d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"
                                    />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--네비게이션_바-->
        <div id="image-upload-wrap" class="container w-100 px-5">
            <div class="row h-100 text-center position-relative justify-content-around">
                <div class="w-100">
                    <div id="image-upload" class="h-100 position-relative">
                        <input
                            type="file"
                            accept="image/*"
                            class="position-absolute form-control opacity-0 w-100 h-100 top-0 start-0"
                            id="inputGroupFile01"
                            onchange="averagecolorsAPI(this);"
                        />
                        <label
                            class="d-flex align-items-center h-100"
                            for="inputGroupFile01"
                            id="image-input-label"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                fill="currentColor"
                                class="m-auto"
                                viewBox="0 0 16 16"
                                id="input-svg"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                title="Tooltip on bottom"
                            >
                                <path
                                    d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"
                                />
                                <path
                                    d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"
                                />
                            </svg>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!--이미지_업로드-->
        <div id="resultloding" class="row w-100 m-auto px-5"></div>
        <!--로딩출력창-->
        <div id="resultcolor" class="row w-100 m-auto px-5"></div>
        <!--색상결과출력창-->
        <div class="position-fixed top-50 start-50 translate-middle p-3" style="z-index: 11;">
            <div
                id="liveToast3"
                class="toast"
                role="alert"
                aria-live="assertive"
                aria-atomic="true"
                data-bs-delay="100000"
            >
                <div class="toast-header">
                    <strong class="me-auto">어떻게 사용하나요?⸜(*ˊᗜˋ*)⸝</strong>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="toast"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="toast-body">
                    <img src="{{ url_for('static', path='/manual.gif') }}" class="img-fluid">
                </div>
            </div>
        </div>
        <!--메뉴얼처리부분-->
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11;">
            <div
                id="liveToast1"
                class="toast"
                role="alert"
                aria-live="assertive"
                aria-atomic="true"
                data-bs-delay="10000"
            >
                <div class="toast-header">
                    <strong class="me-auto">확인해주세요!</strong>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="toast"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="toast-body">
                    결과가 올바르지 않다면 다른사진을 선택해주세요. 옷에서 색이 잘보여야합니다(˵ ͡~ ͜ʖ
                    ͡°˵)ﾉ
                </div>
            </div>
        </div>
        <!--다시하기처리부분-->
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11;">
            <div
                id="liveToast2"
                class="toast"
                role="alert"
                aria-live="assertive"
                aria-atomic="true"
                data-bs-delay="10000"
            >
                <div class="toast-header">
                    <strong class="me-auto">추천은 어땠나요?</strong>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="toast"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="toast-body">
                    좋은 의견이 있다면 댓글로 남겨주세요 매일 확인하고 있습니다. (˵ ͡~ ͜ʖ ͡°˵)ﾉ
                </div>
            </div>
        </div>
        <!--입력오류시처리부분-->
        <div id="analysiscolor" class="row w-100 m-auto px-5"></div>
        <!--분석결과출력창-->
        <div class="mt-3 w-100 container d-flex justify-content-center">
            <ins
                class="kakao_ad_area"
                style="display: none;"
                data-ad-unit="DAN-CDQ5IEj2oyoM88FT"
                data-ad-width="320"
                data-ad-height="100"
            ></ins>
            <script src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <!--광고-->
        <div id="disqus_thread" class="mt-3 px-5">
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
                var disqus_config = function () {
                    this.page.url = 'https://coloravg.run.goorm.io/'; // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = 'ko'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                (function () {
                    // DON'T EDIT BELOW THIS LINE
                    var d = document,
                        s = d.createElement('script');
                    s.src = 'https://coloravg.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
        </div>
        <!--disqus댓글-->
        <div id="particle-container" class="fixed-top h-100" style="z-index: -10;">
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
        </div>
        <!--파티클이펙트-->
    </body>
</html>